body {
     background-color: #edf5ff;
     font-family: Arial, Helvetica, sans-serif;
}


.nav-link:hover, .navbar-brand:hover {
  background-color: #edf5ff;
}

.informatie {
  padding-bottom: 20px;
}

.extra-informatie {
  background-color: #fafafa;
  font-size: 14px;
  font-style: italic;
  width: 550px;
  height: 150px;  
  position: absolute;
    top: 60px;
    right: 210px;
  border: 5px black;
  border-style: double;
  border-radius: 40px;
}

.productnaam {
  font-style: italic;
}

.tekst, .product_title {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  font-weight: bold;
}

.tekst {
  color: #ffb89c;
}

.milieu {
  color: #fff5a6;
}

.artikelen {
  color: #e6d5f0;
}



.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
}

.card {
  border-style: double;
  border-width: 5px;
  border-color: black;
  width:200px; 
  height: 700px; 
  margin-bottom: 20px
}

.product{
  width: 80%; 
  height: inherit; 
  margin-bottom: 20px;
   margin-top: 20px;
}

.product img {
    margin: auto;
    margin-top: 20px;
}

.product > .card-header {
  height:3em
}
.card-text {
  font-style: italic;
  min-height:10em
}

.product-properties {
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

.shop-button {
  font-size: 10px;
  margin-top: -4px;
}

.card-header {
  height: 5em;
}

.article-container {
  margin: auto;
}

footer {
  margin: 20px;
  font-size: 12px;
} 

.container {
  padding-top: 20px;
}